.shop {
  margin-top: 4rem;
  margin-bottom: 4rem;

  & .title {
    margin-bottom: 2rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }
}
